[submodule "veda-auth"]
	path = veda-auth
	url = https://github.com/NASA-IMPACT/ghgc-auth

[submodule "veda-backend"]
	path = veda-backend
	url = https://github.com/NASA-IMPACT/ghgc-backend
[submodule "veda-stac-ingestor"]
	path = veda-stac-ingestor
	url = https://github.com/NASA-IMPACT/ghgc-stac-ingestor
